.roster_text_label{
  background-color: #eaf2ef;
  color: #253031;
  margin-left: 20px;
  font-size: 1rem;
  list-style-type: none;
  vertical-align: top;
}

.roster_text_content{
  background-color: #eaf2ef;
  color: #253031;
  margin-left: 20px;
  font-size: 1rem;
  list-style-type: none;
}

/* table{
  width: 90%;
  max-width: 940px;
  margin:auto;
  border-bottom: 1px solid #253031;
} */

.col2{
  min-width: 100px;
}

img{
   border-radius: 25%;
   width: 200px;
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

#roster_cont{
  width: 90%;
  max-width: 940px;
  margin: auto;
}

@media screen and (min-width: 700px){

  table{
    width: 80%;
    margin: auto;
    }

  .roster_text_label{
    font-size: 1.50rem;
  }

  .roster_text_content{
    font-size: 1.50rem;
  }

  .col2{
    min-width: 140px;
  }

  img{
     width: 250px;
  }
}

@media screen and (min-width: 1100px){

  table{
    width: 70%;
    margin: auto;
  }

  .roster_text_label{
    font-size: 1.75rem;
  }

  .roster_text_content{
    font-size: 1.75rem;
  }

  img{
     width: 300px;
  }
}
